$main-bg-color:#262626;
$main-font-family:"Source Sans Pro", Arial, sans-serif;
$main-text-color:#fff;
$main-hover-color:#17e7a4;
$li-text-color:rgba(255, 255, 255, 0.5);
$body-text-color:rgba(255, 255, 255, 0.7);
$aboutme-content-fontfamily:'roboto','Times New Roman', Times, serif;
$aboutme-icon-hover:#19966e;
$project-fonts:'Charmonman', 'rotobo','Times New Roman', Times, serif;
$project-name-fonts:'Times New Roman', Times, serif;
$footer-bg-color: #131212;