footer
{
	background-color:$footer-bg-color;

	text-align: center;
}
.p-5
{
	margin-top: 1%;
}
.s-1
{
	color: $main-hover-color;
}

.p-6
{
	font-size: 20px;
	margin-left: 1%;
	color: $main-text-color;
}
